{% extends "layout.jinja2" %}

{% block content %}
<div class="card">

  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Demo Dash App for MIPA </a>.</p>
  <a href="/dashapp/" class="dash-link">
    <span>Click Here for the Demo App </span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
